<body>
  <app-topnavbar></app-topnavbar>
  <!-- main content -->

  <!-- left -->

  <div class="product-1">
    <h1>About Us</h1>
  </div>

  <br />

  <ul class="flex-container">
    <li class="flex-item1">
      <div class="internal_flex">
        <div class="head_content"><b>Mission</b></div>

        <div class="mid_content">
          We provide enterprise mobility to companies across the spectrum. Make
          real time information flow of business processes at the point of
          incidence and capturing the data to enable efficiency and cost control
          within the organisation.
        </div>
      </div>

      <div class="internal_flex">
        <div class="head_content"><b>Vision Statement</b></div>

        <div class="mid_content">
          Expand business across the country and enter newer areas which deal
          with Industrial Automation. Geographical expansion of markets and
          manpower and Look at Govt solutions in a big way.
        </div>
      </div>

      <div class="internal_flex">
        <div class="head_content"><b>Values</b></div>

        <div class="mid_content">
          Keep People first in all our dealings. Business with a heart and Soul
          and treatment of employees and customers humanly and ethically is a
          company imperative. Profit is not the only motive for business.
        </div>
      </div>
    </li>

    <li class="flex-item">
      <div class="img_content">
        <!-- svg -->

        <!-- <img
          href="../../../assets/img/"
          class="aviation-logo"
          src="../../../assets/img/"
          width="300px"
          height="300px"
        /> -->
      </div>
    </li>

    <div class="internal_flex2">
      <div class="head_content"><b>Company Profile</b></div>

      <br/>

      <div class="mid_content">
        MAXWORTH ELECTRONIC SYSTEMS PVT LTD, established in 1993 is a leading
        and reputed provider of innovative and end-to-end solutions in the
        Auto-Identification & Data Capture (AIDC) sector. With a sharp focus on
        customized & turnkey solutions for today’s ever-changing and competitive
        business environment, we have provided some of the most innovative
        solutions to leading organizations in Government and Private Sector.
        <br />
        Maxworth demonstrates an end-to-end commitment with quality products and
        services from the pilot to implementation, commissioning, and
        after-sales. We aim to exceed customer expectations by constantly
        monitoring, benchmarking, and improving our business, products &
        services to meet growing challenges.
        <br />
        Our innovative solutions using the latest technologies like Barcode,
        RFID, IoT, Mobile computing, wireless data communication & Cloud
        computing have earned us a steady and satisfied stream of customers in
        the Government, Public Service & Safety, Aviation, Telecommunication,
        Warehousing & Manufacturing sectors.
        <br />
        In our endeavour to provide our customers with the best possible
        solutions, we are proud to have partnered with the world’s major global
        manufacturers of hardware, including Honeywell, Zebra, ICTS Europe,
        Access, CISCO, HP and DT Research for Barcode scanners, Rugged Mobile
        Computers, Tablets, RFID readers and Label & Card printers.
        <br />
        With a robust pan-India base with headquarters in New Delhi and now an
        expanding presence in the ASEAN countries, including Singapore,
        Malaysia, Indonesia, and Philippines, we are growing from strength to
        strength with a 100 plus workforce including a large in-house software
        development team and are fully geared up to meet your challenging
        requirements.
        <br/>
        We aspire to be true to our organizational motto, of being
        able to build a swift, smart and secure business ecosystem for any
        institution, anywhere in the world.
      </div>
    </div>
    <br />
  </ul>

  <br />
  <br />
  <br />

  <!-- solution vertical -->
</body>
