<body>
  <app-topnavbar></app-topnavbar>
  <!-- main content -->

  <!-- left -->

  <div class="product-1">
    <h1>About Us</h1>
  </div>

  <br />

  <ul class="flex-container">
    <li class="flex-item1">
      <div class="internal_flex">
        <div class="head_content"><b>Mission</b></div>

        <div class="mid_content">
          We provide enterprise mobility to companies across the spectrum. Make
          real time information flow of business processes at the point of
          incidence and capturing the data to enable efficiency and cost control
          within the organisation.
        </div>
      </div>

      <div class="internal_flex">
        <div class="head_content"><b>Vision Statement</b></div>

        <div class="mid_content">
          Expand business across the country and enter newer areas which deal
          with Industrial Automation. Geographical expansion of markets and
          manpower and Look at Govt solutions in a big way.
        </div>
      </div>

      <div class="internal_flex">
        <div class="head_content"><b>Values</b></div>

        <div class="mid_content">
          Keep People first in all our dealings. Business with a heart and Soul
          and treatment of employees and customers humanly and ethically is a
          company imperative. Profit is not the only motive for business.
        </div>
      </div>
    </li>

     <li class="flex-item">
      <div class="img_content">
        <!-- svg -->

        <!-- <img
          href="../../../assets/img/"
          class="aviation-logo"
          src="../../../assets/img/"
          width="300px"
          height="300px"
        /> -->
      </div>
    </li>
  </ul>

  <br />
  <br />
  <br />





  <!-- solution vertical -->
</body>
