
<div class="flexbox">
  <div class="flexcard">
    <img src="../../../assets/img/logo (1).jpg" width="200" />
    <br/>
    <br/>

    <h1>About Maxworth</h1>
  </div>
  <div class="flexcard">
    <ul style="list-style: none">
      <li><h1><b>Carrer</b></h1></li>
      <li><h2>Solution</h2></li>
      <li><h2>Product</h2></li>
      <li><h2>Service</h2></li>
      <li><h2>Resource</h2></li>
    </ul>
  </div>
  <div class="flexcard">
    <ul style="list-style: none">
      <li><h1><b>Discover</b></h1></li>
      <li><h2>Support</h2></li>
      <li><h2>Download</h2></li>
    </ul>
  </div>
  <div class="flexcard">
    <ul style="list-style: none">
      <li><h2><b>Contact</b></h2></li>
      <li><h2>Team</h2></li>
      <li><h2>Facebook</h2></li>
      <li><h2>Instagram</h2></li>
      <li><h2>Twitter</h2></li>
    </ul>
  </div>
</div>
