<div class="flexbox">
  <div class="flexcard">
    <img src="../../../assets/img/logo _1_.jpg" width="200" />
    <br />
    <br />
  </div>
  <div class="flexcard">
    <ul style="list-style: none">
      <li routerLink="/solutions">
        <h2><b>Solutions</b></h2>
      </li>
      <li routerLink="/product2"><h2>Product</h2></li>
      <li routerLink="/solutions"><h2>Service</h2></li>
      <li><h2></h2></li>
    </ul>
  </div>
  <div class="flexcard">
    <ul style="list-style: none">
      <li>
        <h2><b>Support</b></h2>
      </li>
      <li><h2></h2></li>
      <li><h2 (click)="navigateToPrivacypolicy()">Privacy Policy</h2></li>
    </ul>
  </div>
  <div class="flexcard">
    <ul style="list-style: none">
      <li>
        <h2><b>Contact</b></h2>
      </li>
      
      <li>
        <a href="https://in.linkedin.com/company/maxworth">Linkedin</a>
        
        <img class="images" src="../../../assets/img/linkedin.png" />
      </li>
      <br/>
      <li>
        <a href="https://in.linkedin.com/company/maxworth">Facebook</a>
        <img class="images" src="../../../assets/img/facebook.png" />
      </li>
      <br/>
      <li>
        <a href="https://in.linkedin.com/company/maxworth">Team</a>
        <img class="images" src="../../../assets/img/github.png" />
      </li>
      <br/>
      <li>
        <a href="https://in.linkedin.com/company/maxworth">Twitter</a>
        <img class="images" src="../../../assets/img/twitter.png" />
      </li>
    </ul>
  </div>
</div>
