<body>
  <app-topnavbar></app-topnavbar>

  <!-- adding div here -->

  <div class="product-1" id="product">
    <h1>Products</h1>
  </div>

  <ul class="flex-container">
    <li class="flex-item11">
      <div class="img_box">
        <img
          href="../../../assets/img/aviation1 _1_.jpg"
          class="aviation-logos"
          src="../../../assets/img/aviation1 _1_.jpg"
        />
      </div>

      <div class="title_box">AVIATION PRINTER</div>
      <div class="content_box1">
        Top quality aviation printers with high-speed response and easy to
        navigate features. Our printers are equipped with high resolution
        printing
        <div>
          <button (click)="navigateToAviationprinter()" class="button2">
            More
          </button>
        </div>
      </div>
    </li>
    <li class="flex-item11">
      <div class="img_box">
        <img
          href="../../../assets/img/barcode1 _1_.jpg"
          class="aviation-logos"
          src="../../../assets/img/barcode1 _1_.jpg"
        />
      </div>

      <div class="title_box">BARCODE SCANNER</div>
      <div class="content_box1">
        Our barcode scanners can anticipate any challenges so that you can scan
        at any given time, anywhere. Scanning abilities is the task
        <div>
          <button (click)="navigateToBarcodescanner()" class="button2">
            More
          </button>
        </div>
      </div>
    </li>
    <li class="flex-item11">
      <div class="img_box">
        <img
          href="../../../assets/img/barcode1 _2_.jpg"
          class="aviation-logos"
          src="../../../assets/img/barcode1 _2_.jpg"
        />
      </div>

      <div class="title_box">DOCUMENT READER</div>
      <div class="content_box1">
        A solution for travel or identification, Document reader will provide
        efficient and fast result in any document reading.

        <div>
          <button (click)="navigateToDocumentreader()" class="button2">
            More
          </button>
        </div>
      </div>
    </li>

    <!-- Commenting go to air card here -->
    <!-- <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/air-radio.png"
          class="aviation-logo"
          src="../../../assets/img/air-radio.png"
        />
      </div>

      <div class="title_box">GO TO AIR RADIO</div>
      <div class="content_box1">
        Aviation Industry uses Mobility solution to offer better service to
        passengers at various touch points.
        <div>
          <button (click)="navigateToAirradio()" class="button2">More</button>
        </div>
      </div>
    </li> -->

    <li class="flex-item11">
      <div class="img_box">
        <img
          href="../../../assets/img/friendly1 _1_.jpg"
          class="aviation-logos"
          src="../../../assets/img/friendly1 _1_.jpg"
        />
      </div>

      <div class="title_box">MOBILE COMPUTER</div>
      <div class="content_box1">
        Our Full integrated computers that make travelling and walking around
        with endless information possible.
        <div>
          <button (click)="navigateToMobilecomputers()" class="button2">
            More
          </button>
        </div>
      </div>
    </li>
    <li class="flex-item11">
      <div class="img_box">
        <img
          href="../../../assets/img/printer1 _1_.jpg"
          class="aviation-logos"
          src="../../../assets/img/printer1 _1_.jpg"
        />
      </div>

      <div class="title_box">PRINTER</div>
      <div class="content_box1">
        Printers are a backbone of business, even if it’s having a document
        printed or a photograph. We provide professional yet simple and
        cost-effective
        <div>
          <button (click)="navigateToPrinters()" class="button2">More</button>
        </div>
      </div>
    </li>
    <li class="flex-item11">
      <div class="img_box">
        <img
          href="../../../assets/img/rfid1 _1_.jpg"
          class="aviation-logos"
          src="../../../assets/img/rfid1 _1_.jpg"
        />
      </div>

      <div class="title_box">RFID</div>
      <div class="content_box1">
        RFID tags that give quick and clear communications are provided. The
        wireless communication system is of best quality
        <div>
          <button (click)="navigateToRfid()" class="button2">More</button>
        </div>
      </div>
    </li>
    <li class="flex-item11">
      <div class="img_box">
        <img
          href="../../../assets/img/retail1 _1_.jpg"
          class="aviation-logos"
          src="../../../assets/img/retail1 _1_.jpg"
        />
      </div>

      <div class="title_box">WIRELESS</div>
      <div class="content_box1">
        Our Wireless solutions are focused towards constant customer success.
        This technology will give you the keen dynamic key scale.
        <div>
          <button (click)="navigateToWireless()" class="button2">More</button>
        </div>
      </div>
    </li>

    <li class="flex-item11">
      <div class="img_box">
        <img
          href="../../../assets/img/retail1 _1_.jpg"
          class="aviation-logos"
          src="../../../assets/img/retail1 _1_.jpg"
        />
      </div>

      <div class="title_box">WIRELESS</div>
      <div class="content_box1">
        Our Wireless solutions are focused towards constant customer success.
        This technology will give you the keen dynamic key scale.
        <div>
          <button (click)="navigateToWireless()" class="button2">More</button>
        </div>
      </div>
    </li>
  </ul>

  <br />
</body>
