<body>
  <app-topnavbar></app-topnavbar>

  <!-- main content -->

  <!-- left -->

  <ul class="flex-container">
    <li class="flex-item1">
      <div class="internal_flex">
        <div class="head_content">
          Telecommunication solutions that bridge the gap between consumers and
          businesses cater to increase efficiency and foster innovation
        </div>

        <div class="mid_content">
          At Maxworth solutions, we grantee accelerated network to create brand
          new income flow, Using best-in-class industry practices and
          operational expertise, we are adding value to enterprise networks in
          order to drive further efficiency. Our Digital Process Operations
          Telecom Practice supports front-end and back-office processes across
          Wireline, Wireless, Mobile, Cable, etc. As well our data driven
          strategies help our client to innovate, create, compete and gain
          values. We enable telecommunication system that is more flexible with
          a lower cost to operate than the proprietary-centric networks of the
          past.
        </div>

          <!-- removing the navigation here
        routerLink="/productpage"  -->

        <div  class="end_content">
          <span class="cont">More Details</span>
        </div>
      </div>
    </li>
    <li class="flex-item1">
      <div class="img_content">
        <!-- svg -->

        <img
          href="../../../assets/img/manu1 _4_.jpg"
          class="aviation-logo"
          src="../../../assets/img/manu1 _4_.jpg"
          height="400px"
          width="400px"
        />
      </div>
    </li>
  </ul>

  <!-- solution vertical -->

  <!-- Product images -->

  <!-- footer -->
</body>
