<app-topnavbar></app-topnavbar>
<body>
  <!-- left -->
 
  <ul class="flex-container">
    <li class="flex-item1">
      <div class="internal_flex">
        <div class="head_content">
          Top quality aviation printers with high speed response and easy to
          navigate features.
        </div>

        <div class="mid_content">
           Our printers are equipped with high resolution
          printing and quick response to keep people moving. The printers can
          provide all commercial boarding passes, bag tags and many more
          features. Certain flight documents (e.g., boarding passes, baggage
          tags, etc.) are necessary for passengers who travel by air. They are
          usually represented on thermal sensitive papers, and every passenger
          should have them at the airport before flight departure. Therefore,
          airports, airlines or ground handlers must implement appropriate
          printers to print boarding passes and bag tags based on passenger
          information available with us. Combining robust product designs with
          the advanced media detection technology and simple integration, our
          printing solutions share unique design, functionality and features
          needed for secure high demand environments.
        </div>

        <div class="end_content">
          <span routerLink="/homepage" class="cont">More Details</span>
        </div>
      </div>
    </li>
    <li class="flex-item1">
      <div class="img_content">
        <!-- svg -->

        <img
          href="../../../assets/img/avpri1 _4_.jpg"
          class="aviation-logo"
          src="../../../assets/img/avpri1 _4_.jpg"
          height="400px"
          width="400px"
        />
      </div>
    </li>
  </ul>

  <!-- solution vertical -->

  <div class="product-1">
    <h2>Products</h2>
  </div>

  <!-- Product images -->

  <ul class="flex-container">
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/aviation-printer.png"
          class="aviation-logo"
          src="../../../assets/img/aviation-printer.png"
        />
      </div>

      <div class="title_box">AIR RADIO1</div>
      <div class="content_box1">
        Top quality aviation printers with high speed response and easy to
        navigate features.
        <div>
          <button class="button1" routerLink="/checkout">Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      
        <div class="img_box">
          <img
            href="../../../assets/img/barcode-scnners.png"
            class="aviation-logo"
            src="../../../assets/img/barcode-scnners.png"
          />
        </div>
     
      <div class="title_box">AIR RADIO</div>
      <div class="content_box1">
        Mobile Data Applications provide real-time communication of
        mission-critical information.
        <div>
          <button class="button1" routerLink="/checkout">Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/document-reader.png"
          class="aviation-logo"
          src="../../../assets/img/document-reader.png"
        />
      </div>

      <div class="title_box">AIR RADIO</div>
      <div class="content_box1">
        Aviation Industry uses Mobility solution to offer better service to
        passengers at various touch points.
        <div>
          <button class="button1" routerLink="/checkout">Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/air-radio.png"
          class="aviation-logo"
          src="../../../assets/img/air-radio.png"
        />
      </div>

      <div class="title_box">AIR RADIO</div>
      <div class="content_box1">
        Aviation Industry uses Mobility solution to offer better service to
        passengers at various touch points.
        <div>
          <button class="button1" routerLink="/checkout">Add to cart</button>
        </div>
      </div>
    </li>

    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/mobile-computers.png"
          class="aviation-logo"
          src="../../../assets/img/mobile-computers.png"
        />
      </div>

      <div class="title_box">AIR RADIO</div>
      <div class="content_box1">
        Aviation Industry uses Mobility solution to offer better service to
        passengers at various touch points.
        <div>
          <button class="button1" routerLink="/checkout">Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/thirmal-printers.png"
          class="aviation-logo"
          src="../../../assets/img/thirmal-printers.png"
        />
      </div>

      <div class="title_box">AIR RADIO</div>
      <div class="content_box1">
        Aviation Industry uses Mobility solution to offer better service to
        passengers at various touch points.
        <div>
          <button class="button1" routerLink="/checkout">Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/rfid.png"
          class="aviation-logo"
          src="../../../assets/img/rfid.png"
        />
      </div>

      <div class="title_box">AIR RADIO</div>
      <div class="content_box1">
        Aviation Industry uses Mobility solution to offer better service to
        passengers at various touch points.
        <div>
          <button class="button1" routerLink="/checkout">Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/wireless.png"
          class="aviation-logo"
          src="../../../assets/img/wireless.png"
        />
      </div>

      <div class="title_box">AIR RADIO</div>
      <div class="content_box1">
        Aviation Industry uses Mobility solution to offer better service to
        passengers at various touch points.
        <div>
          <button class="button1" routerLink="/checkout">Add to cart</button>
        </div>
      </div>
    </li>
  </ul>

  <!-- footer -->

  <app-footer></app-footer>
</body>
