<body>
<app-topnavbar></app-topnavbar>

  <!-- main content -->

  <!-- left -->

  <ul class="flex-container">
    <li class="flex-item1">
      <div class="internal_flex">
        <div class="head_content">
          Choose our E- Governance services for Quality information services.
          Our electronic governance application provides quick and easy access
          to solve any critical situation.
        </div>

        <div class="mid_content">
           It offers an array of quality
          information services to citizens, businesses, entrepreneurs and other
          government agencies in an effective, efficient and user-friendly
          manner. We ensure that all government processes are clear and easy to
          access. Additionally, all is done with efficiency, security and
          accessibility. our focus is on improving processes and public
          administration services.
        </div>

        <div routerLink="/productpage" class="end_content">
          <span class="cont">More Details</span>
        </div>
      </div>
    </li>
    <li class="flex-item1">
      <div class="img_content">
        <!-- svg -->

        <img
          href="../../../assets/img/egover1 (4).jpg"
          class="aviation-logo"
          src="../../../assets/img/egover1 (4).jpg"
          height="400px"
          width="400px"
        />
      </div>
    </li>
  </ul>

  <!-- solution vertical -->

  <!-- Product images -->

  <!-- footer -->
</body>
