<nav class="navbar" routerLink="/homepage">
  <div class="brand-title" routerLink="/homepage">
    <img
      src="../../../assets/img/logo _1_.jpg "
      alt="../../../assets/img/logo _1_.jpg "
    />
  </div>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li>
        <button (click)="navigateToHomepage()" class="btn default">Home</button>
      </li>
      <li>
        <button [routerLink]='["/aboutus"]' (click)="$event.stopPropagation();$event.preventDefault()" class="btn default dropdown">
          About us
          <div class="dropdown-content">
            <a [routerLink]='["/aboutus"]' (click)="$event.stopPropagation();$event.preventDefault()">About Company</a>
            <a [routerLink]='["/leadership"]' (click)="$event.stopPropagation();$event.preventDefault()">Leadership</a>
            <a [routerLink]='["/clientlist"]' (click)="$event.stopPropagation();$event.preventDefault()">Client List</a>
            <a [routerLink]='["/partnerlist"]' (click)="$event.stopPropagation();$event.preventDefault()">Partner List</a>
          </div>
        </button>
      </li>
      <li>
        <button [routerLink]='["/product2"]' (click)="$event.stopPropagation();$event.preventDefault()" class="btn default">Products</button>
      </li>
      <li>
        <button [routerLink]='["/solutions"]' (click)="$event.stopPropagation();$event.preventDefault()" class="btn default">
          Solutions
        </button>
      </li>
      <li>
        <button [routerLink]='["/connect"]' (click)="$event.stopPropagation();$event.preventDefault()" class="btn default">
          Contact us
        </button>
      </li>

      <li [routerLink]='["/checkout"]' (click)="$event.stopPropagation();$event.preventDefault()" class="cart1">
        <img src="../../../assets/img/shopping-cart.png" />
        <i class="fa" style="font-size: 24px"></i>
        <span class="badge badge-warning" id="lblCartCount"> {{ count1 }} </span>
      </li>

      <!-- <li><a href="#" onclick="../checkout.component.html">Cart Items</a></li> -->
      <!-- <i class="fa-solid fa-cart-shopping"></i> -->
    </ul>
  </div>
</nav>

<!-- <script>
      const toggleButton = document.getElementsByClassName("toggle-button")[0];
      const navbarLinks = document.getElementsByClassName("navbar-links")[0];

      toggleButton.addEventListener("click", () => {
        navbarLinks.classList.toggle("active");
      });
    </script> -->
