<!-- <app-productpage></app-productpage> -->

<!-- <app-connect></app-connect> -->

<!-- <app-topnavbar></app-topnavbar> -->

<!-- <router-outlet></router-outlet> -->

<app-sucessfull></app-sucessfull>

<!-- <app-forms></app-forms> -->

<!-- <app-forms></app-forms> -->

<!-- <app-topnavbar></app-topnavbar> -->
<!-- <app-aviationprinterproduct></app-aviationprinterproduct> -->
<!-- <app-aviationprinterproducttype></app-aviationprinterproducttype> -->
<!-- <app-sucessfull></app-sucessfull> -->

<!-- <app-solutions></app-solutions> -->

<!-- <app-documentreaderproducttype></app-documentreaderproducttype> -->

<!-- <app-rfidproduct></app-rfidproduct> -->

<!-- <app-aviationprinterproduct></app-aviationprinterproduct> -->

<!-- <app-barcodeprinterproduct></app-barcodeprinterproduct> -->
<!-- <app-productpage></app-productpage> -->

<!-- <app-aboutus></app-aboutus> -->
<!-- <app-solutions></app-solutions> -->
<!-- <app-privacypolicy></app-privacypolicy> -->


