<body>

  <app-topnavbar></app-topnavbar>

  <!-- main content -->

  <!-- left -->
  <ul class="flex-container">
    <li class="flex-item1">
      <div class="internal_flex">
        <div class="head_content">
         An integrated retail solution consists of data and hardware that turns
          all the information into profit.
        </div>

        <div class="mid_content">
           Retail solutions are a huge part of
          customer’s journey and require skills that focus on products and
          consumers catering to their needs. Our Retail solution makes the whole
          experience quick but meaningful. It is not just about shopping and
          selling but about a connection between sellers and buyers. We provide
          hardware that are easy to access and work with additionally adding
          features that boost the brands. These cost-effective solutions will
          add to the profit and cut on mistakes and loss. Retail sector is huge
          business that needs proper and efficient roles and flow and we provide
          solutions that matter and bring changes to day-to-day problems faced.
        </div>

        <div routerLink="/productpage" class="end_content">
          <span class="cont">More Details</span>
        </div>
      </div>
    </li>
    <li class="flex-item1">
      <div class="img_content">
        <!-- svg -->

        <img
          href="../../../assets/img/retail1 (4).jpg"
          class="aviation-logo"
          src="../../../assets/img/retail1 (4).jpg"
          height="400px"
          width="400px"
        />
      </div>
    </li>
  </ul>

  <!-- solution vertical -->

  <!-- Product images -->

  <!-- footer -->
</body>
