<body>
  <app-topnavbar></app-topnavbar>
  <!-- app nav bar -->

  <!-- logo -->

  <!-- top nav bar -->

  <!-- main content -->
  <ul class="flex-container">
    <li class="flex-item1">
      <div class="internal_flex">
        <div class="head_content">
          Let’s Connect <br /><br />

          New Delhi, INDIA 909, Shahpuri's Tirath Singh Tower, C-58, Community
          Centre, Pankha Road, Janakpuri, New Delhi 110058
        </div>

        <div class="mid_content">
          For sales queries : Call us at : +91 11 25552171 Email us at :
          info@maxworthsystems.com
        </div>

      </div>
    </li>
    <li class="flex-item1">
      <div class="img_content">
        <!-- svg -->
        <form action="">
          <input type="text" placeholder="Name" class="input1" />
          <input type="email" placeholder="Email" class="input1" />
          <input type="text" placeholder="Mobile" class="input1" />
          <input type="text" placeholder="Designation" class="input1" />
          <input type="text" placeholder="Company" class="input1" />
          <input type="text" placeholder="Location" class="input1" />
          <input
            type="textarea"
            placeholder="Whats your query"
            class="input1"
          />

          <div>
            <button class="button2">Submit</button>
          </div>
        </form>
      </div>
    </li>
  </ul>

  <!-- solution vertical -->

  <!-- Product images -->
</body>
