<body>

  <app-topnavbar></app-topnavbar>

<div class="product-1">
  <h1>Client list</h1>
</div>

<ul class="flex-container">
  <li class="flex-items13">
    <div class="title_box">
      <img
        href="../../../assets/img/image003 (1).png"
        class="aviation-logo"
        src="../../../assets/img/image003 (1).png"
      />
    </div>
  </li>
</ul>

<br />

<div class="product-1">
  <h1>Partial International Client list </h1>
</div>

<ul class="flex-container">
  <li class="flex-items13">
    <div class="title_box">
      <img
        href="../../../assets/img/image004 (1).png"
        class="aviation-logo"
        src="../../../assets/img/image004 (1).png"
      />
    </div>
  </li>
</ul>


<br />

</body>
