<app-topnavbar></app-topnavbar>
<body>
  <!-- solution vertical -->

  <div class="product-1">
    <h1>Solutions</h1>
  </div>

  <ul class="flex-container">
    <li class="flex-item">
      <div class="title_box"><b>AVIATION</b></div>
      <div class="content_box">
        <li><h3>Baggage Reconciliation System</h3></li>
        <li><h3>Baggage Service</h3></li>
        <li><h3>Lounge Access& Revenue</h3></li>
        <li><h3>Passenger Tracing And Reconciliation</h3></li>
        <li><h3>Roving agent</h3></li>
        <li><h3>Terminal management</h3></li>
      </div>
    </li>
    <li class="flex-item">
      <div class="title_box"><b>E-GOVERNANCE</b></div>
      <div class="content_box">
        <li><h3>Ecitation</h3></li>
        <li><h3>Field Survey</h3></li>
        <li><h3>Mobile Biomactrics</h3></li>
      </div>
    </li>
    <li class="flex-item">
      <div class="title_box"><b>FIELD MOBILITY</b></div>
      <div class="content_box">
        <li><h3>Automobile service Management</h3></li>
        <li><h3>Field Service</h3></li>
      </div>
    </li>
    <li class="flex-item">
      <div class="title_box"><b>HEALTH CARE</b></div>
      <div class="content_box">
        <li><h3>Medical Drug Tranfusion Mobility</h3></li>
        <li><h3>Paitent Round</h3></li>
        <li><h3>Specimen Collection</h3></li>
      </div>
    </li>
    <li class="flex-item">
      <div class="title_box"><b>HOSPITALITY</b></div>
      <div class="content_box">
        <li><h3>Facilities Management</h3></li>
        <li><h3>Online Order Tracking</h3></li>
        <li><h3>Task Management</h3></li>
      </div>
    </li>
    <li class="flex-item">
      <div class="title_box"><b>MANUFACTURING</b></div>
      <div class="content_box">
        <li><h3>Cylinder Tracking</h3></li>
        <li><h3>Wearhouse Management</h3></li>
        <li><h3>Wip</h3></li>
      </div>
    </li>
    <li class="flex-item">
      <div class="title_box"><b>RETAIL</b></div>
      <div class="content_box">
        <li><h4>Mobile Point of sale</h4></li>
      </div>
    </li>
    <li class="flex-item">
      <div class="title_box"><b>TELECOM</b></div>
      <div class="content_box">
        <li><h3>Coming soon !</h3></li>
      </div>
    </li>
  </ul>

  <div class="product-1">
    <h1>Aviation Sector</h1>
  </div>

  <br />

  <ul class="flex-container">
    <li class="flex-items">
      <div class="title_box"><b>BRS (Baggage Reconciliation system)</b></div>
      <div class="content_box">
        <li>
          <h3>
            It is a baggage reconcile android app which is used by Indigo and
            Air Asia to scan the barcode on bag tag in BMA
          </h3>
        </li>
      </div>
    </li>
    <li class="flex-items">
      <div class="title_box"><b>PRS (Passenger Reconciliation System)</b></div>
      <div class="content_box">
        <li>
          <h3>
            It is an android app which is used by Indigo, SpiceJet and AirAsia
            to scan the Boarding pass at ladder point.
          </h3>
        </li>
      </div>
    </li>
    <li class="flex-items">
      <div class="title_box"><b>Kiosk Check in application</b></div>
      <div class="content_box">
        <li>
          <h3>
            It is a window application installed in kiosk and is being used by
            multiple airlines to Re-print Boarding pass and Bag tag.
          </h3>
        </li>
      </div>
    </li>
    <li class="flex-items">
      <div class="title_box"><b>Cargo Tag</b></div>
      <div class="content_box">
        <li>
          <h3>
            It is an android application designed to take pictures of cargo
            tags/Information inside the aircraft.
          </h3>
        </li>
      </div>
    </li>
    <li class="flex-items">
      <div class="title_box"><b>GTR Roster Management System</b></div>
      <div class="content_box">
        <li>
          <h3>
            The GTR Rostering project aims to assign the demands generated in an
            airport to the ground staff.
          </h3>
        </li>
      </div>
    </li>
  </ul>

  <br />

  <div class="product-1">
    <h1>Automobile Sector</h1>
  </div>

  <br />

  <ul class="flex-container">
    <li class="flex-items1">
      <div class="title_box"><b>Mobility Sequence Systems</b></div>
    </li>
    <li class="flex-items1">
      <div class="title_box"><b>Trolly Scheduling Systems</b></div>
    </li>
    <li class="flex-items1">
      <div class="title_box"><b>Location Mapping Systems</b></div>
    </li>
    <li class="flex-items1">
      <div class="title_box"><b>SAP mobility printing Application</b></div>
    </li>
    <li class="flex-items1">
      <div class="title_box">
        <b>Laptop Tracking and Traceability and Testing Solution</b>
      </div>
    </li>

    <li class="flex-items1">
      <div class="title_box"><b>Parts and Vehicle Management System</b></div>
    </li>

    <li class="flex-items1">
      <div class="title_box"><b>Quality Check System</b></div>
    </li>
  </ul>

  <div class="product-1">
    <h1>Goverment Sector</h1>
  </div>

  <br />

  <ul class="flex-container">
    <li class="flex-items11">
      <div class="title_box"><b>Police: e-Challan System</b></div>
    </li>
    <li class="flex-items11">
      <div class="title_box">
        Police: Mobile Data Terminals(MDT)/ Handheld Devices for Dial 112
        Emergency Response System
      </div>
    </li>
    <li class="flex-items11">
      <div class="title_box">Excise: Liquor Supply, Track & Trace System</div>
    </li>
  </ul>

  <br />

  <div class="product-1">
    <h1>Pivate Sector</h1>
  </div>

  <br />

  <ul class="flex-container">
    <li class="flex-items12">
      <div class="title_box">
        <li><h2>Online Order Tracking</h2></li>
      </div>
    </li>
    <li class="flex-items12">
      <div class="title_box">
        <li><h2>Tonner Management System</h2></li>
      </div>
    </li>
    <li class="flex-items12">
      <div class="title_box">
        <li><h2>Store Management System</h2></li>
      </div>
    </li>
    <li class="flex-items12">
      <div class="title_box">
        <li><h2>Dispatch Management System</h2></li>
      </div>
    </li>
    <li class="flex-items12">
      <div class="title_box">
        <li><h2>Stock Take Application</h2></li>
      </div>
    </li>
    <li class="flex-items12">
      <div class="title_box">
        <li><h2>Work In Progress</h2></li>
      </div>
    </li>
  </ul>

  <div class="product-1">
    <h1>Annual Maintainance contract</h1>
  </div>

  <br />

  <ul class="flex-container">
    <li class="flex-items15">
      <div class="title_box">
        <li><h2>ANNUAL MAINTAINANCE CONTRACT</h2></li>
      </div>
    </li>
  </ul>

  <br />
</body>
