<body>
<app-topnavbar></app-topnavbar>

  <!-- left -->
  <ul class="flex-container">
    <li class="flex-item1">
      <div class="internal_flex">
        <div class="head_content">
          Our barcode scanners can anticipate any challenges so that you can
          scan at any given time, anywhere.
        </div>

        <div class="mid_content">
           Scanning abilities is the task that
          requires super quick response and fast analysis and our scanners do
          every part of the job most efficiently. We enable Innovation that
          delivers significant cost savings, increases employee retention and
          customer loyalty and scan up to 3x faster than dedicated devices in
          challenging light or at angles, even damaged labels, across multiple
          codes, on any smart device. Our barcode is conceived for increased
          productivity and reduced error rates in operations, resulting in
          increased profitability. It delivers unmatched intuitiveness, user
          experience, stability, and security.
        </div>

        <div class="end_content">
          <span routerLink="/homepage" class="cont">More Details</span>
        </div>
      </div>
    </li>
    <li class="flex-item1">
      <div class="img_content">
        <!-- svg -->

        <img
          href="../../../assets/img/barcode1 (3).jpg"
          class="aviation-logo"
          src="../../../assets/img/barcode1 (3).jpg"
          height="400px"
          width="400px"
        />
      </div>
    </li>
  </ul>

  <!-- solution vertical -->

  <div class="product-1">
    <h2>Products</h2>
  </div>

  <!-- Product images -->

  <ul class="flex-container">
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/barcode1 (3).jpg"
          class="aviation-logos"
          src="../../../assets/img/barcode1 (3).jpg"
        />
      </div>

      <div class="title_box">Barcode Scanner</div>
      <div class="content_box1">
       Our barcode scanners can anticipate any challenges so that you can scan at any given time, anywhere.
        <div>
          <button routerLink="/barcodescannerproduct" class="button1">Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">

        <div class="img_box">
          <img
            href="../../../assets/img/barcode1 (2).jpg"
            class="aviation-logos"
            src="../../../assets/img/barcode1 (2).jpg"
          />
        </div>

      <div class="title_box">Barcode Scanner</div>
      <div class="content_box1">
        Our barcode scanners can anticipate any challenges so that you can scan at any given time, anywhere.
        <div>
          <button routerLink="/barcodescannerproduct" class="button1" >Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/manu1 (3).jpg"
          class="aviation-logos"
          src="../../../assets/img/manu1 (3).jpg"
        />
      </div>

      <div class="title_box">Barcode Scanner</div>
      <div class="content_box1">
        Our barcode scanners can anticipate any challenges so that you can scan at any given time, anywhere.
        <div>
          <button routerLink="/barcodescannerproduct" class="button1" >Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/manu1 (1).jpg"
          class="aviation-logos"
          src="../../../assets/img/manu1 (1).jpg"
        />
      </div>

      <div class="title_box">Barcode Scanner</div>
      <div class="content_box1">
       Our barcode scanners can anticipate any challenges so that you can scan at any given time, anywhere.
        <div>
          <button class="button1" routerLink="/barcodescannerproduct">Add to cart</button>
        </div>
      </div>
    </li>

    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/avi1 (2).jpg"
          class="aviation-logos"
          src="../../../assets/img/avi1 (2).jpg"
        />
      </div>

      <div class="title_box">Barcode Scanner</div>
      <div class="content_box1">
        Our barcode scanners can anticipate any challenges so that you can scan at any given time, anywhere.
        <div>
          <button class="button1" routerLink="/barcodescannerproduct">Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/avi1 (1).jpg"
          class="aviation-logos"
          src="../../../assets/img/avi1 (1).jpg"
        />
      </div>

      <div class="title_box">Barcode Scanner</div>
      <div class="content_box1">
        Our barcode scanners can anticipate any challenges so that you can scan at any given time, anywhere.
        <div>
          <button class="button1" routerLink="/barcodescannerproduct">Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/avpri1 (2).jpg"
          class="aviation-logos"
          src="../../../assets/img/avpri1 (2).jpg"
        />
      </div>

      <div class="title_box">Barcode Scanner</div>
      <div class="content_box1">
        Our barcode scanners can anticipate any challenges so that you can scan at any given time, anywhere.
        <div>
          <button class="button1" routerLink="/barcodescannerproduct">Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/avpri1 (1).jpg"
          class="aviation-logos"
          src="../../../assets/img/avpri1 (1).jpg"
        />
      </div>

      <div class="title_box">Barcode Scanner</div>
      <div class="content_box1">
        Our barcode scanners can anticipate any challenges so that you can scan at any given time, anywhere.
        <div>
          <button class="button1" routerLink="/barcodescannerproduct">Add to cart</button>
        </div>
      </div>
    </li>
  </ul>

  <!-- footer -->

  <app-footer></app-footer>
</body>
