<app-topnavbar></app-topnavbar>
<body>
  <!-- logo -->

  <!-- left -->

  <ul class="flex-container">
    <li class="flex-item1">
      <div class="internal_flex">
        <div class="head_content">
          Top quality aviation printers with high speed response and easy to
          navigate features.
        </div>

        <div class="mid_content">
           Our printers are equipped with high resolution
          printing and quick response to keep people moving. The printers can
          provide all commercial boarding passes, bag tags and many more
          features. Certain flight documents (e.g., boarding passes, baggage
          tags, etc.) are necessary for passengers who travel by air. They are
          usually represented on thermal sensitive papers, and every passenger
          should have them at the airport before flight departure. Therefore,
          airports, airlines or ground handlers must implement appropriate
          printers to print boarding passes and bag tags based on passenger
          information available with us. Combining robust product designs with
          the advanced media detection technology and simple integration, our
          printing solutions share unique design, functionality and features
          needed for secure high demand environments.
        </div>

        <div class="end_content">
          <span class="cont" routerLink="/homepage">More Details</span>
        </div>
      </div>
    </li>
    <li class="flex-item1">
      <div class="img_content">
        <!-- svg -->

        <img
          href="../../../assets/img/avi1 (1).jpg"
          class="aviation-logo"
          src="../../../assets/img/avi1 (1).jpg"
          height="400px"
          width="400px"
        />
      </div>
    </li>
  </ul>

  <br />
  <br />
  <br />
  <br />
  <br />

  <!-- solution vertical -->

  <div class="product-1">
    <h2>Products</h2>
  </div>

  <!-- Product images -->

  <ul class="flex-container">
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/avi1 (1).jpg"
          class="aviation-logos"
          src="../../../assets/img/avi1 (1).jpg"
        />
      </div>

      <div class="title_box">Aviation</div>
      <div class="content_box1">
        Our printers are equipped with high resolution printing and quick response to keep people moving.
        <div>
          <button (click)="navigateToAviationpriterproduct()" class="button1">Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">

        <div class="img_box">
          <img
            href="../../../assets/img/avpri1 (3).jpg"
            class="aviation-logos"
            src="../../../assets/img/avpri1 (3).jpg"
          />
        </div>

      <div class="title_box">Aviation</div>
      <div class="content_box1">
        Our printers are equipped with high resolution printing and quick response to keep people moving.
        <div>
          <button (click)="navigateToAviationpriterproduct()" class="button1" >Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/avpri1 (2).jpg"
          class="aviation-logos"
          src="../../../assets/img/avpri1 (2).jpg"
        />
      </div>

      <div class="title_box">Aviation</div>
      <div class="content_box1">
        Our printers are equipped with high resolution printing and quick response to keep people moving.
        <div>
          <button (click)="navigateToAviationpriterproduct()" class="button1" >Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/avpri1 (1).jpg"
          class="aviation-logos"
          src="../../../assets/img/avpri1 (1).jpg"
        />
      </div>

      <div class="title_box">Aviation</div>
      <div class="content_box1">
        Our printers are equipped with high resolution printing and quick response to keep people moving.
        <div>
          <button class="button1" (click)="navigateToAviationpriterproduct()" >Add to cart</button>
        </div>
      </div>
    </li>

    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/avi1 (4).jpg"
          class="aviation-logos"
          src="../../../assets/img/avi1 (4).jpg"
        />
      </div>

      <div class="title_box">Aviation</div>
      <div class="content_box1">
        Our printers are equipped with high resolution printing and quick response to keep people moving.
        <div>
          <button class="button1" (click)="navigateToAviationpriterproduct()" >Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/avi1 (3).jpg"
          class="aviation-logos"
          src="../../../assets/img/avi1 (3).jpg"
        />
      </div>

      <div class="title_box">Aviation</div>
      <div class="content_box1">
       Our printers are equipped with high resolution printing and quick response to keep people moving.
        <div>
          <button class="button1" (click)="navigateToAviationpriterproduct()" >Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/avi1 (1).jpg"
          class="aviation-logos"
          src="../../../assets/img/avi1 (1).jpg"
        />
      </div>

      <div class="title_box">Aviation</div>
      <div class="content_box1">
        Our printers are equipped with high resolution printing and quick response to keep people moving.
        <div>
          <button class="button1" (click)="navigateToAviationpriterproduct()" >Add to cart</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <div class="img_box">
        <img
          href="../../../assets/img/avi1 (2).jpg"
          class="aviation-logos"
          src="../../../assets/img/avi1 (2).jpg"
        />
      </div>

      <div class="title_box">Aviation</div>
      <div class="content_box1">
        Our printers are equipped with high resolution printing and quick response to keep people moving.
        <div>
          <button class="button1" (click)="navigateToAviationpriterproduct()" >Add to cart</button>
        </div>
      </div>
    </li>
  </ul>

  <!-- footer -->

  <app-footer></app-footer>
</body>
