<body>

  <app-topnavbar></app-topnavbar>

  <!-- main content -->

  <!-- left -->
  <ul class="flex-container">
    <li class="flex-item1">
      <div class="internal_flex">
        <div class="head_content">
          Maxworth provides some of the most advanced, end-to-end solutions. In
          the Automatic Identification & Data Capture Industry.
        </div>

        <div class="mid_content">
          Hospitality solutions that are built from pioneered technology that
          makes every touch point of customer’s journey more enticing and
          provide top notch communication between operations and management with
          prioritizing customer service. With a far-reaching, global perspective
          into the hospitality industry and understanding of the daily
          challenges hoteliers face, Our Hospitality Solutions offers a deep,
          rich foundation of experience to help hoteliers solve these challenges
          and capitalize on the latest trends, all backed by decades of
          investment and innovation in the hospitality industry.
        </div>

          <!-- removing the navigation here
        routerLink="/productpage"  -->

        <div  class="end_content">
          <span class="cont">More Details</span>
        </div>
      </div>
    </li>
    <li class="flex-item1">
      <div class="img_content">
        <!-- svg -->

        <img
          href="../../../assets/img/hospitality1 _1_.jpg"
          class="aviation-logo"
          src="../../../assets/img/hospitality1 _1_.jpg"
          height="400px"
          width="400px"
        />
      </div>
    </li>
  </ul>

  <!-- solution vertical -->

  <!-- Product images -->

  <!-- footer -->
</body>
