<body>
  <app-topnavbar></app-topnavbar>

  <!-- left -->
  <ul class="flex-container">
    <li class="flex-item1">
      <div class="internal_flex">
        <div class="head_content">
           Healthcare solutions not only helps running a business but increase
          Patient’s satisfaction level to a very high percentage.
        </div>

        <div class="mid_content">
          Easy to work
          and thorough safety precautions add to healthcare business with utmost
          focus on medical management. The key to success in modern healthcare
          is having the right data to make the right decision. Whether you need
          a deeper understanding of your customers, the ability to identify new
          opportunities or to drive greater operating efficiencies, your ability
          to leverage data is vital to confident decision-making and competitive
          advantage and we provide just that. Our Healthcare solutions focus on
          easy and fast flow for the patients as well as Healthcare experts.
        </div>

          <!-- removing the navigation here
        routerLink="/productpage"  -->

        <div  class="end_content">
          <span class="cont">More Details</span>
        </div>
      </div>
    </li>
    <li class="flex-item1">
      <div class="img_content">
        <!-- svg -->

        <img
          href="../../../assets/img/healthcare1 _1_.jpg"
          class="aviation-logo"
          src="../../../assets/img/healthcare1 _1_.jpg"
          height="400px"
          width="400px"
        />
      </div>
    </li>
  </ul>

  <!-- solution vertical -->

  <!-- Product images -->

  <!-- footer -->
</body>
