<app-topnavbar></app-topnavbar>
<body>
  <!-- logo -->

  <div class="product-1">
    <h2>General purpose</h2>
  </div>

  <!-- Product images -->

  <ul class="flex-container">
    <li class="flex-item">
      <!-- <div class="img_box">
        <img
          href="../../../assets/img/avi1 (1).jpg"
          class="aviation-logos"
          src="../../../assets/img/avi1 (1).jpg"
        />
      </div> -->

      <div class="title_box">Zebra</div>
      <div class="content_box1">
        <li><button class="button1">DS8100 series</button></li>
        <li><button class="button1">DS4600 series</button></li>
        <li><button class="button1">DS2200 series</button></li>
        <li><button class="button1">LI4278</button></li>
        <li><button class="button1">LS1203</button></li>
        <li><button class="button1">LS2208</button></li>
        <li><button class="button1">DS9300 series</button></li>
        <li><button class="button1">DS9900 series</button></li>

        <div>
          <button class="button1">see all</button>
        </div>
      </div>
    </li>
    <li class="flex-item">
      <!-- <div class="img_box">
          <img
            href="../../../assets/img/avpri1 (3).jpg"
            class="aviation-logos"
            src="../../../assets/img/avpri1 (3).jpg"
          />
        </div> -->

      <div class="title_box">Honeywell</div>
      <div class="content_box1">
        <li>
          <button class="button1">
            Xenon XP 195+A14:B222g Battery Free Scanner
          </button>
        </li>
        <li>
          <button class="button1">Xenon XP 1950g General Duty Scanner</button>
        </li>
        <li>
          <button class="button1">Xenon XP 1952g General Duty Scanner</button>
        </li>
        <li>
          <button class="button1">Voyager XP 1470g General Duty Scanner</button>
        </li>
        <li>
          <button class="button1">Voyager XP 1472g General Duty Scanner</button>
        </li>
        <li>
          <button class="button1">Voyager 1200g General Duty Scanner</button>
        </li>
        <li>
          <button class="button1">Voyager 1202g General Duty Scanner</button>
        </li>
        <li>
          <button class="button1">Voyager 1250g General Duty Scanner</button>
        </li>
        <li>
          <button class="button1">Voyager 1400g General Duty Scanner</button>
        </li>

        <li>
          <button class="button1">Voyager 9540 General Duty Scanner</button>
        </li>
        <li><button class="button1">SG20T Tethered Scanner</button></li>
        <li><button class="button1">HH660 Area-Imaging Scanner</button></li>
        <li>
          <button class="button1">
            Hyperion 1300g Light Industrial Scanner
          </button>
        </li>
        <li>
          <button class="button1">
            Fusion 3780 Handheld/Hands-Free Scanner
          </button>
        </li>
        <li><button class="button1">Voyager 1602g Pocket Scanner</button></li>
        <div>
          <button class="button1">See all</button>
        </div>
      </div>
    </li>
  </ul>

  <br />

  <div class="product-1">
    <h2>Rugged & Ultra Rugged</h2>
  </div>

  <!-- Product images -->

  <ul class="flex-container">
    <li class="flex-item11">
      <!-- <div class="img_box">
        <img
          href="../../../assets/img/avi1 (1).jpg"
          class="aviation-logos"
          src="../../../assets/img/avi1 (1).jpg"
        />
      </div> -->

      <div class="title_box">Zebra</div>
      <div class="content_box1">
        <li><button class="button1">DS3600 series</button></li>
        <li><button class="button1">LI3600 series</button></li>

        <div>
          <button class="button1">see all</button>
        </div>
      </div>
    </li>
    <li class="flex-item11">
      <!-- <div class="img_box">
          <img
            href="../../../assets/img/avpri1 (3).jpg"
            class="aviation-logos"
            src="../../../assets/img/avpri1 (3).jpg"
          />
        </div> -->

      <div class="title_box">Honeywell</div>
      <div class="content_box1">
        <li>
          <button class="button1">Granit 1990i Ultra-Rugged series</button>
        </li>
        <li><button class="button1">Granit 1280i</button></li>
        <li><button class="button1">Granit 1920i</button></li>
        <li><button class="button1">Granit 1980i</button></li>
        <li><button class="button1">Granit 1981i</button></li>

        <div>
          <button class="button1">See all</button>
        </div>
      </div>
    </li>
  </ul>

  <br />

  <div class="product-1">
    <h2>Healthcare</h2>
  </div>

  <!-- Product images -->

  <ul class="flex-container">
    <li class="flex-item11">
      <!-- <div class="img_box">
        <img
          href="../../../assets/img/avi1 (1).jpg"
          class="aviation-logos"
          src="../../../assets/img/avi1 (1).jpg"
        />
      </div> -->

      <div class="title_box">Zebra</div>
      <div class="content_box1">
        <li><button class="button1">DS4600 Series</button></li>
        <li><button class="button1">DS2200 Series</button></li>
        <li><button class="button1">DS9900 Series</button></li>
        <li><button class="button1">DS8100-HC</button></li>
        <li><button class="button1">CS60-HC Series</button></li>

        <div>
          <button class="button1">see all</button>
        </div>
      </div>
    </li>
    <li class="flex-item11">
      <!-- <div class="img_box">
          <img
            href="../../../assets/img/avpri1 (3).jpg"
            class="aviation-logos"
            src="../../../assets/img/avpri1 (3).jpg"
          />
        </div> -->

      <div class="title_box">Honeywell</div>
      <div class="content_box1">
        <li>
          <button class="button1">
            Xenon XP 1952h Healthcare Battery Free Scanner
          </button>
        </li>
        <li>
          <button class="button1">Xenon XP 1950h Healthcare Scanner</button>
        </li>
        <li>
          <button class="button1">Xenon XP 1952h Healthcare Scanner</button>
        </li>

        <div>
          <button class="button1">See all</button>
        </div>
      </div>
    </li>
  </ul>

  <br />

  <div class="product-1">
    <h2>Presentation & In-counter</h2>
  </div>

  <!-- Product images -->

  <ul class="flex-container">
    <li class="flex-item13">
      <!-- <div class="img_box">
        <img
          href="../../../assets/img/avi1 (1).jpg"
          class="aviation-logos"
          src="../../../assets/img/avi1 (1).jpg"
        />
      </div> -->

      <div class="title_box">Zebra</div>
      <div class="content_box1">
        <li><button class="button1">MP7000</button></li>
        <li><button class="button1">DS4600 series</button></li>
        <li><button class="button1">DS2200 series</button></li>
        <li><button class="button1">LI4278</button></li>
        <li><button class="button1">LS1203</button></li>
        <li><button class="button1">LS2208</button></li>
        <li><button class="button1">DS9300 series</button></li>
        <li><button class="button1">DS9900 series</button></li>

        <div>
          <button class="button1">see all</button>
        </div>
      </div>
    </li>
    <li class="flex-item13">
      <!-- <div class="img_box">
          <img
            href="../../../assets/img/avpri1 (3).jpg"
            class="aviation-logos"
            src="../../../assets/img/avpri1 (3).jpg"
          />
        </div> -->

      <div class="title_box">Honeywell</div>
      <div class="content_box1">
        <li><button class="button1">Genesis XP 7680g</button></li>
        <li>
          <button class="button1">
            Orbit HF680 2D Hands-Free Area-Imaging Scanner
          </button>
        </li>
        <li>
          <button class="button1">Genesis 7580g Hands-Free Scanner</button>
        </li>
        <li>
          <button class="button1">
            Orbit 7190g Hybrid Presentation Scanner
          </button>
        </li>

        <div>
          <button class="button1">See all</button>
        </div>
      </div>
    </li>
  </ul>

  <br />

  <div class="product-1">
    <h2>Wearables & Portable</h2>
  </div>

  <!-- Product images -->

  <ul class="flex-container">
    <li class="flex-item12">
      <!-- <div class="img_box">
        <img
          href="../../../assets/img/avi1 (1).jpg"
          class="aviation-logos"
          src="../../../assets/img/avi1 (1).jpg"
        />
      </div> -->

      <div class="title_box">Zebra</div>
      <div class="content_box1">
        <li><button class="button1">CS60 Series Companion Scanner</button></li>

        <div>
          <button class="button1">see all</button>
        </div>
      </div>
    </li>
    <li class="flex-item12">
      <!-- <div class="img_box">
          <img
            href="../../../assets/img/avpri1 (3).jpg"
            class="aviation-logos"
            src="../../../assets/img/avpri1 (3).jpg"
          />
        </div> -->

      <div class="title_box">Honeywell</div>
      <div class="content_box1">
        <li>
          <button class="button1">8680i Wearable Mini Mobile Computer</button>
        </li>
        <li>
          <button class="button1">8670 Wireless Ring Wearable Scanner</button>
        </li>
        <li>
          <button class="button1">
            8690i Wearable RFID Mini Mobile Computer
          </button>
        </li>

        <div>
          <button class="button1">See all</button>
        </div>
      </div>
    </li>
  </ul>

  <br />

  <!-- footer -->
</body>
