<app-topnavbar></app-topnavbar>
<body>
  <!-- solution vertical -->

  <div class="product-1">
    <h1>Product Page</h1>
  </div>

  <br />

  <ul class="flex-container">
    <li class="flex-item">
      <!-- <img class="imgg" src="../../../assets/img/home1.jpg" alt=""> -->
      <div class="title_box">AVIATION PRINTER</div>
      <div class="content_box">
        <li><h2>Coming soon!</h2></li>
      </div>
    </li>
    <li class="flex-item">
      <div class="title_box">BARCODE SCANNER</div>
      <div class="content_box">
        <li><h2>General purpose</h2></li>
        <li><h2>General purpose-handhelds</h2></li>
        <li><h2>General purpose-handfree</h2></li>
      </div>
    </li>
    <li class="flex-item">
      <div class="title_box">DOCUMENT READER</div>
      <div class="content_box">
        <li><h2>OCR Reader</h2></li>
        <li><h2>Passport reader</h2></li>
      </div>
    </li>
    <li class="flex-item">
      <div class="title_box">GROUND TO AIR RADIO</div>
      <div class="content_box">
        <li><h2>Ground to air radio</h2></li>
      </div>
    </li>
    <li class="flex-item">
      <div class="title_box">MOBILE COMPUTERS</div>
      <div class="content_box">
        <li><h2>Enterprise Class</h2></li>
        <li><h2>Industrial class</h2></li>
        <li><h2>POS Tablets</h2></li>
        <li><h2>Vehicle-Fixed Mount</h2></li>
        <li><h2>Wearables</h2></li>
      </div>
    </li>
    <li class="flex-item">
      <div class="title_box">PRINTERS</div>
      <div class="content_box">
        <li><h2>Air lines printer</h2></li>
        <li><h2>Car Printer</h2></li>
        <li><h2>Colour and mono printers</h2></li>
        <li><h2>Dot matrix (SIDM) Printers</h2></li>
        <li><h2>Thermal printers</h2></li>
      </div>
    </li>
    <li class="flex-item">
      <div class="title_box">RFID</div>
      <div class="content_box">
        <li><h2>Rfid</h2></li>
      </div>
    </li>
    <li class="flex-item">
      <div class="title_box">WIRELESS</div>
      <div class="content_box">
        <li><h2>Wireless</h2></li>
      </div>
    </li>
  </ul>

  <br />
  <br />
</body>
