<body>
  <app-topnavbar></app-topnavbar>
  <div class="product-1">
    <h1>Leadership Team</h1>
  </div>

  <br />
  <br />
  <br />

  <ul class="flex-container">
    <li class="flex-item1">
      <div class="internal_flex">
        <div class="head_content"><b>SANJAY GARG</b></div>

        <div class="mid_content">
          Sanjay Garg is the quintessential businessperson. He graduated from IT
          BHU with a Bachelors in Electronics. He worked in Indian and
          Multinational company’s garnering a wealth of experience before
          plunging into the entrepreneurial bandwagon. Philips India and
          Crompton Greaves honed his skills which he used to found and grow
          Maxworth into the ‘ Enterprise Mobility “ solutions provider that it
          has become today. Simple living and high thinking are his motto.
          Family and healthy lifestyles are very close to his heart. He believes
          in Karma as enunciated in the Bhagwat Gita - Karm karo – Phal ki Ichha
          mat karo- Safalta to jhak marke piche aayegi. Follow one’s passion
          with utmost humility and honesty and the results will follow.
        </div>
      </div>
    </li>

    <li class="flex-itemimg">
      <div class="img_content">
        <!-- svg -->

        <img
          href="../../../assets/img/Sanjay Garg-Pic-1.jpg"
          class="aviation-logo"
          src="../../../assets/img/Sanjay Garg-Pic-1.jpg"
          width="200px"
          height="200px"
        />

        <h1><b>SANJAY GARG</b></h1>
      </div>
    </li>
  </ul>

  <ul class="flex-container">
    <li class="flex-item1">
      <div class="internal_flex">
        <div class="head_content"><b>AJAY JHINGRAN</b></div>

        <div class="mid_content">
          Ajay, the founder director of Maxworth Electronic Systems Pvt Ltd., is
          a maverick and looks at business very unlike a typical businessperson.
          His vision is to have a business which runs on ethics and benefits
          employees and society and does not look at abnormal profit making as a
          goal for his company. A technocrat who graduated in engineering from
          DCE and PGDM from IIM-B, he cut his teeth in the industry with
          Grindwell Norton (now part of Saint Gobain Group), Sales, Abrasives
          Division, 1983-88 and later Crompton Greaves Ltd., Telecom Division,
          Sales. Marketing & Product Management. In 1993 the entrepreneurial bug
          caught him, and he set up Maxworth along with his friend and colleague
          Sanjay Garg. A family man to the core, his wife and two daughters are
          the apple of his eyes. He has an abiding love of nature and devotes
          his spare time helping maintain the neighbourhood public parks.
        </div>
      </div>
    </li>

    <li class="flex-itemimg">
      <div class="img_content">
        <!-- svg -->

        <img
          href="../../../assets/img/Photo Ajay Jhingran.jpg"
          class="aviation-logo"
          src="../../../assets/img/Photo Ajay Jhingran.jpg"
          width="200px"
          height="200px"
        />

        <h1><b>AJAY JHINGRAN</b></h1>
      </div>
    </li>
  </ul>

  <br />
</body>
