<body>
  <app-topnavbar></app-topnavbar>

    <div class="product-1">
  <h1>Our Partners</h1>
</div>

<br />

<ul class="flex-container">
  <li class="flex-items" >
    <div class="img_box1">
      <img
        href="../../../assets/img/intermec.png"
        class="aviation-logo-partner"
        src="../../../assets/img/intermec.png"
      />
    </div>
  </li>
  <li class="flex-items" >
    <div class="img_box1">
      <img
        href="../../../assets/img/oki.png"
        class="aviation-logo-partner"
        src="../../../assets/img/oki.png"
      />
    </div>
  </li>

  <li class="flex-items" >
    <div class="img_box1">
      <img
        href="../../../assets/img/zebra.png"
        class="aviation-logo-partner"
        src="../../../assets/img/zebra.png"
      />
    </div>
  </li>

  <li class="flex-items" >
    <div class="img_box1">
      <img
        href="../../../assets/img/icts.png"
        class="aviation-logo-partner"
        src="../../../assets/img/icts.png"
      />
    </div>
  </li>
  <li class="flex-items" >
    <div class="img_box1">
      <img
        href="../../../assets/img/jotronpartner.png"
        class="aviation-logo-partner"
        src="../../../assets/img/jotronpartner.png"
      />
    </div>
  </li>
</ul>
</body>
