<body>
  <!-- logo -->

  <app-topnavbar></app-topnavbar>

  <!-- main content -->

  <!-- left -->
  <ul class="flex-container">
    <li class="flex-item1">
      <div class="internal_flex">
        <div class="head_content">
          Maxworth manufacturing solutions provides real time and cost
          friendly results.
        </div>

        <div class="mid_content">
           Innovation driven and optimized operations would
          maximize the profits of many and any manufacturing organization.
          Seamless Human-machine communication will also result in a very quick
          problem solving. Our solutions provide industry with well-designed,
          dependable, easy-to-operate machinery that finally result in benefits
          like analyzing data to identify pinpoints of trends as well as issues
          needing attention. This also helps in detecting and taking advantages
          of new business opportunities. Our manufacturing solutions provides
          automate manual processes and transactions to allow valuable resources
          to focus on the core business.
        </div>

          <!-- removing the navigation here
        routerLink="/productpage"  -->

        <div  class="end_content">
          <span class="cont">More Details</span>
        </div>
      </div>
    </li>
    <li class="flex-item1">
      <div class="img_content">
        <!-- svg -->

        <img
          href="../../../assets/img/manu1 _1_.jpg"
          class="aviation-logo"
          src="../../../assets/img/manu1 _1_.jpg"
          height="400px"
          width="400px"
        />
      </div>
    </li>
  </ul>
</body>
