<app-topnavbar></app-topnavbar>
<body>
  <!-- logo -->

  <div class="product-1">
    <h2>Aviation Printer</h2>
  </div>

  <!-- Product images -->

  <ul class="flex-container">
    <li class="flex-item">
      <!-- <div class="img_box">
        <img
          href="../../../assets/img/avi1 (1).jpg"
          class="aviation-logos"
          src="../../../assets/img/avi1 (1).jpg"
        />
      </div> -->

      <div class="title_box">Baggage Tag Printers</div>
      <div class="content_box1">
        <li><button class="button1" (click)="addProduct1(30000,'VIDTRONIX ATP3','../../../assets/img/avpri1 (3).jpg',1,30000)">VIDTRONIX ATP3</button></li>
        <li><button class="button1" (click)="addProduct1(20000,'VIDTRONIX ATP6','../../../assets/img/avpri1 (3).jpg',1,20000)">VIDTRONIX ATP6</button></li>
        <li><button class="button1" (click)="addProduct1(10000,'VIDTRONIX MAP','../../../assets/img/avpri1 (3).jpg',1,10000)">VIDTRONIX MAP</button></li>
      </div>
    </li>
    <li class="flex-item">
      <!-- <div class="img_box">
          <img
            href="../../../assets/img/avpri1 (3).jpg"
            class="aviation-logos"
            src="../../../assets/img/avpri1 (3).jpg"
          />
        </div> -->

      <div class="title_box">Boarding Pass Printers</div>
      <div class="content_box1">
        <li>
          <button class="button1" (click)="addProduct1(5000,'VIDTRONIX','../../../assets/img/avpri1 (3).jpg',1,5000)" >VIDTRONIX</button>
        </li>
        <li>
          <button class="button1"(click)="addProduct1(5000,'DATAMAX','../../../assets/img/avpri1 (3).jpg',1,5000)">DATAMAX</button>
        </li>


      </div>
    </li>
  </ul>

  <br />

  <!-- footer -->
</body>
